
.container-fluid
  %center#feed.panel
    #myCarousel.carousel.slide{:data => {:ride => "carousel", :interval => "4000"}}
      %p.panel-heading InstaNews
      .carousel-inner
        %img#loading{:src => "http://preloaders.net/preloaders/499/Balls%20parade.gif", :alt => ""}/

  = react_component("SearchModels", {models: nil})

  = react_component('Models', {models: []})
