/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "custom";

#myCarousel .carousel-inner{
  max-height: 30px;
}
.carousel a {
  text-decoration: underline;
  padding: 0; /*removing spacing*/
  margin: 0; /*add spacing*/
  font-size: 2.5rem;
}

#myForm .item{
  min-height: 100px;
}

.btn-disabled{
  cursor: not-allowed;
}
embed {
  width: 40vw !important;
  height: 85vh   !important;
}


img.media-object{

  max-width: 250px;
  max-height: 200px;
  // margin-top: 50px;
  // margin-bottom: 50px;
}

#SearchResults{
  &:hover {
    #clearResultsBtn{
      display: block;
      position: fixed;
      transition: display 1s ease-in-out;
      -webkit-transition: display 1s ease-in-out;
      bottom: 10%;
      right: 0%;
      font-weight: bolder;
      background-color: red;
      color: tomato-red;
      text-decoration: underline;
    }
  }
}
#models{
  &:hover {
    #clearModelsBtn{
      display: block;
      position: fixed;
      transition: display 1s ease-in-out;
      -webkit-transition: display 1s ease-in-out;
      bottom: 10%;
      right: 0%;
      font-weight: bolder;
      background-color: green;
      color: tomato-red;
      text-decoration: underline;
    }
  }
}
#compare_models{
  &:hover {
    #clearCompareBtn{
      display: block;
      position: fixed;
      transition: display 1s ease-in-out;
      -webkit-transition: display 1s ease-in-out;
      bottom: 10%;
      right: 0%;
      font-weight: bolder;
      background-color: blue;
      color: tomato-red;
      text-decoration: underline;
    }
  }
}
#clearResultsBtn, #clearModelsBtn, #clearCompareBtn{
  display: none;
  transition: display 1s;
  -webkit-transition: display 1s ease-in-out;
}



body{
  transition: all 0.3s ease 0s;
}

// -- jq-autocomplete --
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  li.ui-menu-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    &:hover{
      color: white;
    }
  }

  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    cursor: pointer;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
    a{
      color: white;
    }
  }
}
