/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "custom";

#myCarousel .carousel-inner{
  max-height: 30px;
}
.carousel a {
  text-decoration: underline;
  padding: 0; /*removing spacing*/
  margin: 0; /*add spacing*/
  font-size: 2.5rem;
}

#myForm .item{
  min-height: 100px;
}

.btn-disabled{
  cursor: not-allowed;
}
embed {
  width: 40vw !important;
  height: 85vh   !important;
}


img.media-object{

  max-width: 250px;
  max-height: 200px;
  // margin-top: 50px;
  // margin-bottom: 50px;
}

#SearchResults{
  &:hover #clearResultsBtn{
    display: block;
    position: fixed;
    transition: display 1s ease-in-out;
    -webkit-transition: display 1s ease-in-out;
    bottom: 1%;
    right: 51%;
  }
}
#clearResultsBtn{
  display: none;
  transition: display 1s;
  -webkit-transition: display 1s ease-in-out;
}

body{
  transition: all 0.3s ease 0s;
}
